



<form action="/signup" method="post">

<div class="sign">

<h2 class="regis">Registrarse</h2>

  <p>
    Nombre:
    <input value="{{name}}" name="name" type="text">
  </p>
  
  <p>
    Apellido:
    <input value="{{last}}" name="last" type="text">
  </p>
  
  <p>
    Usuario:
    <input value="{{username}}" name="username" type="text">
    <p style="color:red"> {{errors.username}} </p>
  </p>
  <p>
    Correo Electronico
    <input value="{{email}}" name="email" type="email">
    <p style="color:red"> {{errors.email}} </p>
  </p>
  <p>
    Contraseña
    <input value="{{password}}" name="password" type="password">
    <p style="color:red"> {{errors.password}} </p>
  </p>
  <p>
    Repetir Contraseña
  <input  name="password2" type="password">
  </p>

  <div id="map"></div>
   <input type="text" name="address[coordinates][0]" hidden="true" id="lng" >
   <input type="text" name="address[coordinates][1]" hidden="true" id="lat" >
  
<p class="sub">
  <input type="submit" value="Crear Cuenta">
</p>
</div>
</form>


<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">CAREN</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome</h1>
      <h2 class="heading--secondary">Are you ready?</h2>
    </div>
    <div class="thumbnail__links">
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">



    <form action="/signup" method="post>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="james.bond" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="passwordRepeat">Repeat Password</label>
        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="#">I am already a member</a>
          </li>
        </ul>
      </div>
    </>  



  </div>
</div>






<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
  })
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)

  geoCoder.on('result', res => {
    document.getElementById('lng').value = res.result.center[0]
    document.getElementById('lat').value = res.result.center[1]
  })

</script>