



<form action="/signup" method="post">

<div class="sign">

<h2 class="regis">Registrarse</h2>

  <p>
    Nombre:
    <input value="{{name}}" name="name" type="text">
  </p>
  
  <p>
    Apellido:
    <input value="{{last}}" name="lastname" type="text">
  </p>
  
  <p>
    Usuario:
    <input value="{{username}}" name="username" type="text">
    <p style="color:red"> {{errors.username}} </p>
  </p>
  <p>
    Correo Electronico
    <input value="{{email}}" name="email" type="email">
    <p style="color:red"> {{errors.email}} </p>
  </p>
  <p>
    Contraseña
    <input value="{{password}}" name="password" type="password">
    <p style="color:red"> {{errors.password}} </p>
  </p>
  <p>
    Repetir Contraseña
  <input  name="password2" type="password">
  </p>

  <div id="map"></div>
   <input type="text" name="address[coordinates][0]" hidden="true" id="lng" >
   <input type="text" name="address[coordinates][1]" hidden="true" id="lat" >
  
<p class="sub">
  <input type="submit">
</p>

</div>

</form>


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
  })
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)

  geoCoder.on('result', res => {
    document.getElementById('lng').value = res.result.center[0]
    document.getElementById('lat').value = res.result.center[1]
  })

</script>