


<section class="container">
    <div id="map1"></div>
    <img class:"img1" src="{{img}}" alt="img">
    <h2>{{projectName}}</h2>
    <p>{{description}}</p>
    <p>{{tipo}}</p>
    <p>{{recursos}}</p>
    
    
   <input type="text" name="address[coordinates][0]" hidden="true" id="lng" >
   <input type="text" name="address[coordinates][1]" hidden="true" id="lat" >

    <p>{{join}}</p>

</section>






<style>

h2{
  text-align: center;
}
  .img1{

  }
 
 #map1{
   width:400px;
   height: 300px;
   
 }


body{
  background-image: url("https://chuckphotography.files.wordpress.com/2013/02/hands-ww-2.jpg");
  backface-visibility: hidden;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  border: 1px solid black;
  justify-content: space-around;
  width: 80%;
  height: 50%;
  top:50px;
  background-color: rgb(104, 39, 104);
  opacity: 1;
  padding: 20px;
  top: 60px 
}


.card{
  background-color: rgba(105, 109, 107, 0.5);
  opacity: 1;

}

p{
  text-align: center;
  text-decoration: none;
  color: white;
}

.projectname{
  text-align: center;
}

</style>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
  {{!-- let uno = project.address[coordinates][0]
  let dos = project.address[coordinates][1] --}}
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
  const map = new mapboxgl.Map({
    container: 'map1',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [uno, dos],
    zoom: 7
  })
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)

  geoCoder.on('result', res => {
    document.getElementById('lng').value = res.result.center[0]
    document.getElementById('lat').value = res.result.center[1]
  })

</script>
