<h2>Cambiar Proyecto</h2>
<form action="/projects/projects/{{_id}}" method="post">

  <p>
    Project Name:
    <input value="{{projectName}}" name="projectName" type="text">
  </p>
  <p>
    Description
    <input value="{{description}}" type="text" name="description">
  </p>

    <p>
    Tipo
    <input value="{{tipo}}" type="text" name="tipo">
  </p>  
  
  <p>
    Recursos
    <input value="{{recursos}}" type="text" name="recursos">
  </p>

  <input type="submit" value="Cambiar">


</form>
<a href="/projects/projects">
  <button>
    Regresar
  </button>
</a>